<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
   
   <dubbo:application name="${dubbo.applicationName}"  />
   <dubbo:registry address="${dubbo.address}"  file="${dubbo.applicationName}/dubbo.cache"/>  
   <dubbo:protocol host="${dubbo.host}" name="dubbo" port="${dubbo.port}" />
    <!-- 配置超时时间 -->
   <dubbo:consumer timeout="${dubbo.timeout}"/>
   <dubbo:monitor protocol="registry"/>
    
    <!-- 热推缓存 -->     
   <dubbo:service interface="com.zizaike.is.redis.HotRecommendRedisService" version="1.0.0" ref="hotRecommendRedisService"  group="${dubbo.group}" />  
	<bean id="hotRecommendRedisService" class="com.zizaike.redis.service.impl.HotRecommendRedisServiceImpl" />
	<!-- 地址与热推 -->
   <dubbo:service interface="com.zizaike.is.redis.RecommendAreaRedisService" version="1.0.0" ref="recommendAreaRedisService"  group="${dubbo.group}" />  
	<bean id="recommendAreaRedisService" class="com.zizaike.redis.service.impl.RecommendAreaRedisServiceImpl" />
	<!-- 搜索统计 -->
   <dubbo:service interface="com.zizaike.is.redis.SearchStatisticsRedisService" version="1.0.0" ref="searchStatisticsRedisService"  group="${dubbo.group}" />  
	<bean id="searchStatisticsRedisService" class="com.zizaike.redis.service.impl.SearchStatisticsRedisServiceImpl" />
</beans>