<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans          
    http://www.springframework.org/schema/beans/spring-beans.xsd          
    http://code.alibabatech.com/schema/dubbo          
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">  
    <dubbo:application name="${dubbo.applicationName}"  />
    <!--  使用zookeeper注册中心暴露服务地址 测试上用   用dubbo协议在20881端口暴露服务  
    	host="192.168.1.173"指定服务器地址，运行cmc的服务器 -->
    <dubbo:registry address="${dubbo.address}"  file="${dubbo.applicationName}/dubbo.cache"/>  
    <dubbo:protocol host="${dubbo.host}" name="dubbo" port="${dubbo.port}" />
    
    <!-- 配置超时时间 -->
    <dubbo:consumer timeout="${dubbo.timeout}"/>
     <dubbo:monitor protocol="registry"/>
    <dubbo:reference id="loctypeService" interface="com.zizaike.is.recommend.LoctypeService" version="1.0.0" group="${dubbo.group}"  check="false"/>
	<dubbo:reference id="destConfigService" interface="com.zizaike.is.recommend.DestConfigService" version="1.0.0" group="${dubbo.group}"  check="false"/>
    <dubbo:reference id="teacherShareService" interface="com.zizaike.is.recommend.TeacherShareService" version="1.0.0" group="${dubbo.group}" check="false"/>
    <!-- 翻译服务 -->
    <dubbo:reference id="hanLPService" interface="com.zizaike.is.common.HanLPService" version="1.0.0" group="${dubbo.group}"  check="false"/>
	 <!-- 搜索统计 -->
    <dubbo:reference id="searchStatisticsRedisService" interface="com.zizaike.is.redis.SearchStatisticsRedisService" version="1.0.0" group="${dubbo.group}"  check="false"/>
	  <!-- poi -->
    <dubbo:reference id="locPoiService" interface="com.zizaike.is.recommend.LocPoiService" version="1.0.0" group="${dubbo.group}"  check="false"/>
	  <!-- 服务搜索统计 -->
    <dubbo:reference id="bnbServiceStatisticsRedisService" interface="com.zizaike.is.redis.BNBServiceStatisticsRedisService" version="1.0.0" group="${dubbo.group}"  check="false"/>
</beans>
