<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://code.alibabatech.com/schema/dubbo
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
   
   <dubbo:application name="${dubbo.applicationName}"  />
   <dubbo:registry address="${dubbo.address}"  file="${dubbo.applicationName}/dubbo.cache"/>  
   <dubbo:protocol host="${dubbo.host}" name="dubbo" port="${dubbo.port}" />
    <!-- 配置超时时间 -->
   <dubbo:consumer timeout="${dubbo.timeout}"/>
   <dubbo:monitor protocol="registry"/>
    
    <!-- 声明需要暴露的服务接口 -->     
   <dubbo:service interface="com.zizaike.is.solr.UserSolrService" version="1.0.0" ref="userSolrService"  group="${dubbo.group}" /> 
	<bean id="userSolrService" class="com.zizaike.solr.user.impl.UserSolrServiceImpl"/>
   <dubbo:service interface="com.zizaike.is.solr.PlaceSolrService" version="1.0.0" ref="placeSolrService"  group="${dubbo.group}" /> 
   <bean id="placeSolrService" class="com.zizaike.solr.place.impl.PlaceSolrServiceImpl"/>
   <dubbo:service interface="com.zizaike.is.solr.RoomSolrService" version="1.0.0" ref="roomSolrService"  group="${dubbo.group}" /> 
   <bean id="roomSolrService" class="com.zizaike.solr.room.impl.RoomSolrServiceImpl"/>
</beans>